<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Пример веб-страницы</title>
 </head>
 <body>
  <div class="content">
        <p>Enter value</p>
        <form action="/" method="POST">
            <input type="text" name="content" id="content" value="">
            <input type="submit" value="Enter">
        </form>
  </div>
 <!{{ l }}>
  <table border="1">
 {% for i in l %}
     <tr>
     {% for j in i %}
         <td>{{j}}</td>
     {% endfor %}
     </tr>
 {% endfor %}
  </table>
  <table border="1">
  {% for i in k %}
  <td>{{i}}</td>
   {% endfor %}
   </table>

  
 </body>
</html>